.DefaultLayout {
  min-height: 100vh;

  &__Container {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }

  &__ContentContainer {
    flex-grow: 1;
    padding: 24px 0;
    background: white;
  }

  &__OutletContainer {
    padding: 0 24px;
  }
}
